* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 980px;
  margin: 0px auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5e5373;
  z-index: 20;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
}

.header__logo {
  color: #ffffff;
  font-family: Sansation, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 30;
}
@media (max-width: 767px) {
  .header__logo {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .header__logo {
    font-size: calc(20px + 4 * (100vw / 1000));
  }
}

.header__logo span {
  color: #da2346;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
}

.header__list a {
  color: #ffffff;
  font-family: Sansation, sans-serif;
  font-weight: 400;
}
@media (max-width: 767px) {
  .header__list a {
    font-size: calc(15px + 8.5 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .header__list a {
    font-size: calc(15px + 5 * (100vw / 1000));
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .header__links {
    display: none;
  }
}

.header__link {
  margin: 0px 5px 0px 0px;
}

.header__link:last-child {
  margin: 0px;
}

@media (min-width: 768px) {
  .header__menu {
    z-index: 30;
  }
  .header__links {
    z-index: 30;
  }
}
.services {
  background: #000;
  padding-top: 6vh;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
@media (min-width: 1230px) {
  .services__row {
    padding-top: calc(50px + 50 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__row {
    padding-top: calc(50px + 50 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .services__row {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__row {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1000);
  }
}

.services__title {
  font-family: Sansation;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .services__title {
    font-size: calc(20px + 25.5 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .services__title {
    font-size: calc(20px + 15 * (100vw / 1000));
  }
}

.services__text {
  opacity: 0.7;
  font-family: Sansation;
  font-weight: 400;
}
@media (max-width: 767px) {
  .services__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .services__text {
    font-size: calc(14px + 4 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .services__text {
    padding-top: calc(14px + 14 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__text {
    padding-top: calc(14px + 14 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .services__text {
    padding-bottom: calc(19px + 19 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__text {
    padding-bottom: calc(19px + 19 * (100vw - 320px) /1000);
  }
}

.services__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Sansation;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}
@media (max-width: 767px) {
  .services__button button {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .services__button button {
    font-size: calc(14px + 4 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .services__button button {
    padding-top: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__button button {
    padding-top: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .services__button button {
    padding-bottom: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__button button {
    padding-bottom: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .services__button button {
    padding-left: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__button button {
    padding-left: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .services__button button {
    padding-right: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .services__button button {
    padding-right: calc(12px + 18 * (100vw - 320px) /1000);
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 870px) {
  .about__img img {
    width: 85%;
  }
}

.about__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 15px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  color: #252525;
  font-family: Sansation;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .about__title {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .about__title {
    font-size: calc(20px + 4 * (100vw / 1000));
  }
}

.about__text {
  color: #000000;
  font-family: "Myriad Pro";
  font-weight: 400;
  padding: 45px 0px 42px 0px;
}
@media (max-width: 767px) {
  .about__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .about__text {
    font-size: calc(14px + 4 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .about__text {
    padding-top: calc(25px + 20 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .about__text {
    padding-top: calc(25px + 20 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .about__text {
    padding-bottom: calc(22px + 20 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .about__text {
    padding-bottom: calc(22px + 20 * (100vw - 320px) /1000);
  }
}

.about__text p {
  padding: 0px 0px 25px 0px;
}

.about__text p:last-child {
  padding: 0px;
}

.about__button button {
  color: #f7f7f7;
  font-family: NEOTERIC;
  font-weight: 700;
  text-transform: uppercase;
  background: #05a0af;
}
@media (max-width: 767px) {
  .about__button button {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .about__button button {
    font-size: calc(14px + 2 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-top: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-top: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-bottom: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-bottom: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-left: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-left: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-right: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-right: calc(12px + 18 * (100vw - 320px) /1000);
  }
}

@media (max-width: 870px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__body {
    padding: 0px;
  }
  .about__item {
    padding: 0px 40px;
  }
  .about__title {
    padding: 10px 0px 0px 0px;
  }
  .about__text {
    max-width: 500px;
    padding: 20px 0px 10px 0px;
  }
  .about__text p {
    padding: 0px 0px 12px 0px;
  }
  .about__text p:last-child {
    padding: 0px;
  }
  .about__button {
    padding: 0px 0px 10px 0px;
  }
}
.title__main {
  font-family: Sansation;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  padding: 55px 0px;
}

.title__b {
  color: #f7f7f7;
  background: #373737;
}

.title__w {
  color: #656464;
  background: #fefefe;
}

@media (max-width: 767px) {
  .title__main {
    padding: 20px 0px;
  }
}
.service {
  background: #3d3d3d;
}

.service__container {
  max-width: 960px;
  margin: 0px auto;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__item {
  text-align: center;
}
@media (min-width: 1230px) {
  .service__item {
    padding-top: calc(30px + 110 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__item {
    padding-top: calc(30px + 110 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__item {
    padding-bottom: calc(30px + 110 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__item {
    padding-bottom: calc(30px + 110 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__item {
    padding-left: calc(10px + 7 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__item {
    padding-left: calc(10px + 7 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__item {
    padding-right: calc(10px + 7 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__item {
    padding-right: calc(10px + 7 * (100vw - 320px) /1000);
  }
}

.service__title {
  color: #f7f7f7;
  font-family: Sansation;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .service__title {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .service__title {
    font-size: calc(20px + 4 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .service__title {
    padding-top: calc(25px + 30 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__title {
    padding-top: calc(25px + 30 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__title {
    padding-bottom: calc(10px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__title {
    padding-bottom: calc(10px + 10 * (100vw - 320px) /1000);
  }
}

.service__text {
  color: #f7f7f7;
  font-family: Sansation;
  font-weight: 400;
}
@media (max-width: 767px) {
  .service__text {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .service__text {
    font-size: calc(14px + 2 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .service__text {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__text {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1000);
  }
}

.service__button button {
  color: #f7f7f7;
  font-family: Sansation;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #959595;
}
@media (max-width: 767px) {
  .service__button button {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .service__button button {
    font-size: calc(14px + 2 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .service__button button {
    padding-top: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__button button {
    padding-top: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__button button {
    padding-bottom: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__button button {
    padding-bottom: calc(5px + 10 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__button button {
    padding-left: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__button button {
    padding-left: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .service__button button {
    padding-right: calc(12px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .service__button button {
    padding-right: calc(12px + 18 * (100vw - 320px) /1000);
  }
}

.service__item-w {
  background: #097e89;
}

@media (max-width: 650px) {
  .service__container {
    max-width: 85%;
  }
  .service__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.feedback {
  background: #3d3d3d;
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .feedback__row {
    padding-top: calc(14px + 13 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .feedback__row {
    padding-top: calc(14px + 13 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .feedback__row {
    padding-bottom: calc(14px + 18 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .feedback__row {
    padding-bottom: calc(14px + 18 * (100vw - 320px) /1000);
  }
}

.feedback__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__text {
  color: #cdc8c8;
  font-family: Sansation;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 767px) {
  .feedback__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .feedback__text {
    font-size: calc(14px + 4 * (100vw / 1000));
  }
}

.feedback__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .feedback__slide {
    padding-top: calc(15px + 45 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .feedback__slide {
    padding-top: calc(15px + 45 * (100vw - 320px) /1000);
  }
}

.feedback__count {
  color: #cdc8c8;
  font-family: Sansation;
  font-size: 14px;
  font-weight: 400;
}

.feedback__imagine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
@media (min-width: 1230px) {
  .feedback__item_img {
    padding-top: calc(50px + 70 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .feedback__item_img {
    padding-top: calc(50px + 70 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .feedback__item_img {
    padding-left: calc(25px + 25 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .feedback__item_img {
    padding-left: calc(25px + 25 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .feedback__item_img {
    padding-right: calc(25px + 25 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .feedback__item_img {
    padding-right: calc(25px + 25 * (100vw - 320px) /1000);
  }
}
@media (max-width: 630px) {
  .feedback__item_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 630px) and (min-width: 1230px) {
  .feedback__item_img {
    padding-top: calc(150px + -30 * (100vw - 320px) /1000);
  }
}
@media (max-width: 630px) and (max-width: 1230px) {
  .feedback__item_img {
    padding-top: calc(150px + -30 * (100vw - 320px) /1000);
  }
}
@media (max-width: 630px) and (min-width: 1230px) {
  .feedback__item_img {
    padding-left: calc(5px + 45 * (100vw - 320px) /1000);
  }
}
@media (max-width: 630px) and (max-width: 1230px) {
  .feedback__item_img {
    padding-left: calc(5px + 45 * (100vw - 320px) /1000);
  }
}
@media (max-width: 630px) and (min-width: 1230px) {
  .feedback__item_img {
    padding-right: calc(5px + 45 * (100vw - 320px) /1000);
  }
}
@media (max-width: 630px) and (max-width: 1230px) {
  .feedback__item_img {
    padding-right: calc(5px + 45 * (100vw - 320px) /1000);
  }
}

.fb1 {
  background: url("../img/Model-1.png") no-repeat top center/cover;
}

.fb2 {
  background: url("../img/Model-1.png") no-repeat top center/cover;
}

.fb3 {
  background: url("../img/Model-1.png") no-repeat top center/cover;
}

.feedback__item_img_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5px 5px 5px;
}

.feedback__name {
  font-size: 12px;
}

.feedback__name_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__surname, .feedback__name {
  color: #272727;
  font-family: Sansation;
  font-size: 10px;
  font-weight: 400;
  line-height: 26px;
  background: #fff;
}

.feedback__surname {
  width: 33px;
  text-align: center;
}

@media (max-width: 870px) {
  .feedback__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback__body {
    padding: 0px 0px 20px 0px;
  }
  .feedback__imagine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback__item_img {
    margin: 10px 10px 0px 10px;
  }
}
.clients__container {
  max-width: 940px;
  margin: 0px auto;
  padding: 0 15px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1230px) {
  .clients__row {
    margin-top: calc(30px + 30 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .clients__row {
    margin-top: calc(30px + 30 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .clients__row {
    margin-bottom: calc(30px + 30 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .clients__row {
    margin-bottom: calc(30px + 30 * (100vw - 320px) /1000);
  }
}

@media (min-width: 1230px) {
  .clients__row img {
    padding: calc(15px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .clients__row img {
    padding: calc(15px + 10 * (100vw - 320px) /1000);
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media (max-width: 870px) {
  .clients__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .clients__item img {
    padding: 20px 0px;
  }
  .img2 {
    padding: 0px;
  }
  .img7 {
    padding: 0px;
  }
  .img8 {
    padding: 0px;
  }
  .clients__row {
    margin: 30px 0px 50px 0px;
  }
}
@media (max-width: 600px) {
  .clients__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.queries {
  background: #097e89;
}

.queries__container {
  max-width: 930px;
  margin: 0px auto;
  padding: 0px 15px;
}

.queries__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .queries__row {
    padding-top: calc(15px + 12 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .queries__row {
    padding-top: calc(15px + 12 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .queries__row {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .queries__row {
    padding-bottom: calc(30px + 30 * (100vw - 320px) /1000);
  }
}

.queries__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.queries__title {
  color: #ffffff;
  font-family: Sansation;
  font-weight: 400;
}
@media (max-width: 767px) {
  .queries__title {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .queries__title {
    font-size: calc(20px + 10 * (100vw / 1000));
  }
}

.queries__text {
  opacity: 0.7;
  color: #ffffff;
  font-family: Sansation;
  font-weight: 400;
}
@media (max-width: 767px) {
  .queries__text {
    font-size: calc(12px + 5.1 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .queries__text {
    font-size: calc(12px + 3 * (100vw / 1000));
  }
}

.queries__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: center;
  }
}

.input input {
  opacity: 0.7;
  color: #ffffff;
  font-weight: 400;
  font-family: Sansation;
  font-size: 10px;
  line-height: 45px;
  background: #097e89;
  border: 1px solid #fff;
  padding: 0px 0px 0px 24px;
}

@media (max-width: 700px) {
  .button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: center;
  }
}
@media (max-width: 700px) and (min-width: 1230px) {
  .button {
    padding-top: calc(10px + 5 * (100vw - 320px) /1000);
  }
}
@media (max-width: 700px) and (max-width: 1230px) {
  .button {
    padding-top: calc(10px + 5 * (100vw - 320px) /1000);
  }
}

.button button {
  color: #097e89;
  font-family: "Myriad Pro - Semibold";
  font-size: 12px;
  font-weight: 400;
  line-height: 45px;
  background: #ffffff;
  padding: 0px 33px 0px 24px;
}

@media (max-width: 767px) {
  .queries__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0px 30px 0px;
  }
  .queries__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    padding: 0px 0px 15px 0px;
  }
}
@media (max-width: 450px) {
  .queries__contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .queries__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .button {
    padding: 15px 0px 0px 0px;
  }
}
.footer {
  background: #474747;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1230px) {
  .footer__row {
    padding-top: calc(15px + 15 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .footer__row {
    padding-top: calc(15px + 15 * (100vw - 320px) /1000);
  }
}
@media (min-width: 1230px) {
  .footer__row {
    padding-bottom: calc(20px + 20 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .footer__row {
    padding-bottom: calc(20px + 20 * (100vw - 320px) /1000);
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -35px;
}

.footer__links_item {
  padding: 0px 35px;
  text-align: left;
}

.footer__links_title {
  color: #e5e5e5;
  font-family: "Helvetica LT Std";
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer__links_title {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .footer__links_title {
    font-size: calc(14px + 4 * (100vw / 1000));
  }
}
@media (min-width: 1230px) {
  .footer__links_title {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .footer__links_title {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1000);
  }
}

@media (min-width: 1230px) {
  .footer__links_menu li {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .footer__links_menu li {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1000);
  }
}

.footer__links_menu a {
  color: #ffffff;
  font-family: "Helvetica LT Std - Light Cond";
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer__links_menu a {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1000));
  }
}
@media (min-width: 767px) {
  .footer__links_menu a {
    font-size: calc(14px + 2 * (100vw / 1000));
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 41px 0px;
}

.footer__contact_email input {
  color: #4f4e4e;
  font-family: "Helvetica LT Std - Light Cond";
  font-size: 15px;
  font-weight: 400;
  line-height: 44px;
  background: #cccccc;
  padding: 0px 0px 0px 15px;
}

.footer__contact_button button {
  color: #ffffff;
  font-family: "Helvetica LT Std - Light Cond";
  font-size: 17px;
  font-weight: 400;
  line-height: 44px;
  background: #0072bc;
  width: 102px;
}

.footer__contact_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact_link {
  padding: 0px 9px 0px 0px;
}

.footer__contact_link:last-child {
  padding: 0px;
}

@media (max-width: 870px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__links {
    padding: 0px 0px 25px 0px;
    margin: 0px -10px;
  }
  .footer__links_item {
    padding: 0px 10px;
  }
  .footer__contact_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 900px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 300;
    position: relative;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 900px) {
  .header__burger:before, .header__burger:after, .header__burger span {
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    background: #000;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 900px) {
  .header__burger:before {
    top: 0;
  }
}
@media (max-width: 900px) {
  .header__burger:after {
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .header__burger span {
    top: 9px;
  }
}
@media (max-width: 900px) {
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
}
@media (max-width: 900px) {
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 900px) {
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.header__menu {
  z-index: 20;
}
@media (max-width: 900px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8a2cd6;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 80px 0px 20px 20px;
    overflow: auto;
    opacity: 0.9;
  }
}
@media (max-width: 900px) {
  .header__menu.active {
    top: 0;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 900px) and (min-width: 1230px) {
  .header__list li {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1000);
  }
}
@media (max-width: 900px) and (max-width: 1230px) {
  .header__list li {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1000);
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1230px) {
  .header__list li a {
    padding-right: calc(12.5px + 12.5 * (100vw - 320px) /1000);
  }
}
@media (max-width: 1230px) {
  .header__list li a {
    padding-right: calc(12.5px + 12.5 * (100vw - 320px) /1000);
  }
}
@media (max-width: 900px) {
  .header__list li a {
    font-size: 24px;
  }
}
.header__list li:last-child {
  padding: 0px;
}
.header__link {
  color: #666666;
  font-family: "Open Sans - Semibold";
  font-size: 13px;
  text-transform: uppercase;
  padding: 4px 5px;
  border-radius: 6px;
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
}
@media (max-width: 900px) {
  .header__link {
    font-size: 40px;
    color: #fff;
  }
}
.header__link:hover {
  background: #a19fb4;
  color: #fff;
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
}